.userPhoto {
    width: 100px;
    height: 100px;
}
.selectedPage {
    font-size: 20px;
    font-weight: bold;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination span {
    background-color: green;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50% ;
    margin-right: 10px;
    cursor: pointer;
}
.pagination span:hover{
        color: red
}
.userItem {
    display: flex;
    margin-top: 10px;
    width: 300px;
}
.userAvatar {

}
.userInfo {
    margin-left: 10px;
}
.userFollowToggle {

}

.totalUser {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

