.userPhoto {
    width: 100px;
    height: 100px;
}
.selectedPage {
    font-size: 20px;
    font-weight: bold;
}
.pagination{
    display: flex;
    //justify-content: center;
    align-items: center;
    list-style: none;
}
.pagination li {
    background-color: green;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50% ;
    margin-right: 10px;
    cursor: pointer;
}
.pagination li:hover{
        color: red
}