.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding-top: 100px;
    padding: 5px;

}

.dialogsItems {
    border-right: 1px solid black;
    width: 40%;
    min-width: 100px;


}

.dialog {
    cursor: pointer;


}

.messages {

    padding: 10px;
    margin: 0 auto;
    width: 80%;
}
.addMessage {
    max-width: 80%;
    position: relative;

}


.addMessage textarea {
    max-width: 100%;
    min-width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 5px;
    outline:none;
    background-image: url("https://avatars.mds.yandex.net/get-zen_doc/1108934/pub_5d17c8f7f66b3d00acf998be_5d17f6fbe0cbf200add17d92/scale_1200");
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.messages button{
    position: absolute;
    bottom: 10px;
    right: 5px;
}
.messages button img {
    width: 20px;
    height: 20px;
}


.message {

}

.activ {
    color: gold;
    font-size: 18px;
}
.avatarDialogs {
    display: flex;
}
.avatarDialogs img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}